{% import "../common/download-pdf.njk" as downloadPdf %}
{% import "../common/valueByRoom.njk" as valueByRoom %}


{% macro render(common, workspace, room, devicesByRoom, devices, softwareByRoom, software) %}
  {# This div may be positioned off-screen and animated into place when the "info" CTA is clicked #}
  <div class="ws-room-info-modal-root ws-modal-root ws-displayNone">
    {{ downloadPdf.render(common, "rooms/"+room.pdfFilename, "ws-header-item") }}
    <a class="ws-room-info-modal-close ws-modal-close" aria-label="Close" href="#/{{ workspace.slug }}/{{ room.slug }}">{% icon "close-x", "ws-close-x" %}</a>
    <div class="ws-top-rule"></div>
    <div class="ws-info-modal-header-content">
      <h1 class="ws-info-modal-room-name">{{ room.name }}</h1>
      <div class="ws-info-modal-content">
        <div class="ws-info-modal-text">
          {% for paragraph in room.roomDescription %}
            <p>{{ paragraph | safe }}</p>
          {% endfor %}
        </div>

        <div class="ws-button-container">
            <a href="{{room.videoUrl}}" id="ws-watch-video-btn" class="ws-cta ws-green-cta">{{common.infoModal.watchVideoCtaText}}</a>
            <a href="{{common.contactUrl}}" id="ws-contact-sales-btn" class="ws-cta ws-white-cta">{{common.contactSalesCtaText}}</a>
        </div>
      </div>
    </div>
    <h5 class="ws-info-modal-section-heading">{{ common.infoModal.productsSectionHeadingText }}</h5>

    <div class="ws-info-modal-devices">
      <div class="ws-info-modal-devices-inner">
        <div class="ws-room-device-scroller" id="ws-room-device-scroller-{{workspace.slug}}-{{room.slug}}">
          <div class="swiper-wrapper">
            {% for deviceId in devicesByRoom[workspace.slug][room.slug] %}
              <div class="swiper-slide{% if loop.index == 1 and loop.length == 1 %} ws-single{% endif %}">
                {% set imgSrc = devices[deviceId].carouselItems[0].filename %}
                {% set imgAlt = devices[deviceId].carouselItems[0].alt %}
                {% set isVideo = imgSrc.endsWith('.mp4') %}
                {%if isVideo %}
                  {% set imgSrc = devices[deviceId].carouselItems[1].filename %}
                  {% set imgAlt = devices[deviceId].carouselItems[1].alt %}
                {% endif %}

                <div class="ws-room-info-carousel-img">{% imagesync "devices/" + deviceId + "/carousel/" + imgSrc, imgAlt, "", "", true, "100vw" %}</div>
                <div class="ws-room-info-carousel-content">
                  <h3>{{devices[deviceId].name}}</h3>
                  <p>{{ valueByRoom.render(devices[deviceId].description, room.slug) }}</p>
                  <a href="{{devices[deviceId].url}}"><span>{{common.learnMoreCtaText}}</span><span class="ws-cta-right-arrow">&nbsp;{% icon "cta-right-arrow-green", "", 14 %}</span></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="ws-scroll-track-container" id="ws-scroll-track-container-devices-{{workspace.slug}}-{{room.slug}}">
        <div class="ws-scroll-track"></div>
        <div class="ws-scroll-thumb"></div>
      </div>
    </div>

    <h5 class="ws-info-modal-section-heading ws-info-modal-section-heading-software">{{ common.infoModal.softwareSectionHeadingText }}</h5>

    <div class="ws-info-modal-software">
      <div class="ws-room-software-scroller" id="ws-room-software-scroller-{{workspace.slug}}-{{room.slug}}">
        <div class="swiper-wrapper">
          {% for softwareId in softwareByRoom[workspace.slug][room.slug] %}
            <div class="swiper-slide">
              <div class="ws-room-info-carousel-img">{% imagesync "software/" + softwareId + "/room-info/" + softwareId + "-square.jpg", "", "", "", true, "100vw" %}</div>
              <div class="ws-room-info-carousel-content">
                <h3>{{software[softwareId].name}}</h3>
                <p>{{software[softwareId].description}}</p>
                <a href="{{software[softwareId].url}}"><span>{{common.learnMoreCtaText}}</span><span class="ws-cta-right-arrow">&nbsp;{% icon "cta-right-arrow-green", "", 14 %}</span></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="ws-scroll-track-container" id="ws-scroll-track-container-software-{{workspace.slug}}-{{room.slug}}">
        <div class="ws-scroll-track"></div>
        <div class="ws-scroll-thumb"></div>
      </div>
    </div>

    <div class="ws-room-info-footer">
      <h2 class="ws-room-info-tagline">{{room.tagline}}</h2>
      <div class="ws-button-container">
          <a href="{{common.contactUrl}}" id="ws-contact-sales-btn" class="ws-cta ws-white-cta">{{common.contactSalesCtaText}}</a>
      </div>
    </div>
  </div>
{% endmacro %}

