{% import "../common/download-pdf.njk" as downloadPdf %}

{% macro render(common, deviceId, configGuide) %}
  <div class="ws-config-guide ws-modal-section">
    <h6 class="ws-modal-section-heading">{{ common.deviceModal.configGuideHeadingText }}</h6>
    {% if configGuide.image %}
      {% set imagePath = "devices/" + deviceId + "/configuration-guide/" + configGuide.image %}
      {% imagesync imagePath %}
    {% endif %}
    {{ downloadPdf.render(common, configGuide.pdfUrl) }}
  </div>
{% endmacro %}
