{% import "../common/download-pdf.njk" as downloadPdf %}

{% macro render(common, configGuide) %}
  <div class="ws-config-guide ws-modal-section">
    <h6 class="ws-modal-section-heading">{{ common.deviceModal.configGuideHeadingText }}</h6>
    {% if configuGuide.imageUrl %}
      {% image configGuide.imageUrl %}
    {% endif %}
    {{ downloadPdf.render(common, configGuide.pdfUrl) }}
  </div>
{% endmacro %}
