{% macro feature(item) %}
  <li>
    <div class="ws-feature-short-phrase">{{ item.shortPhrase }}</div>
    <div class="ws-feature-long-phrase">{{ item.longPhrase }}</div>
  </li>
{% endmacro %}

{% macro render(common, features, roomId) %}
  <div class="ws-device-features ws-modal-section">
    <ul>
      {% if features|isObject %}
        {% set roomFeatures = features[roomId] %}
      {% else %}
        {% set roomFeatures = features %}
      {% endif %}
      {% for item in roomFeatures %}
        {{ feature(item) }}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
