{% macro feature(text) %}
  <li>{{ text }}</li>
{% endmacro %}

{% macro render(common, features) %}
  <div class="ws-device-features ws-modal-section">
    <h6 class="ws-modal-section-heading">{{ common.deviceModal.featuresHeadingText }}</h6>
    <ul>
      {% for text in features %}
        {{ feature(text) }}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
