{% import "./media-carousel.njk" as carousel %}
{% import "./features.njk" as features %}
{% import "./specs.njk" as specs %}
{% import "../common/download-pdf.njk" as downloadPdf %}


{% macro render(common, workspace, room, devicesByRoom, devices) %}
  {# This div is positioned off-screen and animated into place when a hotspot is clicked #}
  <div class="ws-device-modal-root ws-modal-root ws-displayNone">
    <a class="ws-device-modal-close ws-modal-close" aria-label="Close" href="#/{{ workspace.slug }}/{{ room.slug }}">{% icon "close-x", "ws-close-x" %}</a>
    <div class="ws-top-rule"></div>

    {% for deviceId in devicesByRoom[workspace.slug][room.slug] %}
      {# Only one of these device divs should be visible at any one time.  For the clicked hotspot.
         We can't use the device ID in an actual id attribute, because there may be more than one instance of the same device.
         It has to be a classname.
      #}
      <div class="ws-device ws-device-{{ deviceId }} ws-displayNone">
        {% set device = devices[deviceId] %}
        <h2 class="ws-device-name">{{ device.name }}</h2>

        <div class="ws-device-intro-text">{{ device.description }}</div>

        <a class="ws-learn-more-cta ws-cta ws-white-cta" href="{{ device.url }}">{{ common.learnMoreCtaText }}</a>

        {{ carousel.render(room.slug, deviceId, device.carouselItems) }}

        <div class="ws-modal-sections">
          {{ features.render(common, device.features) }}

          {{ specs.render(common, device.specs) }}
        </div>

      </div>
    {% endfor %}
  </div>
{% endmacro %}

