{% import "./image-carousel.njk" as carousel %}
{% import "./features.njk" as features %}
{% import "./specs.njk" as specs %}
{% import "./config-guide.njk" as configGuide %}
{% import "../common/download-pdf.njk" as downloadPdf %}


{% macro render(common, workspace, room, devicesByRoom, devices) %}
  {# This div may be positioned off-screen and animated into place when a hotspot is clicked #}
  <div class="ws-device-modal-root ws-displayNone awaits-styling">
    (Device Modal for {{ workspace.slug }}-{{ room.slug }})

    <button class="ws-device-modal-close ws-modal-close awaits-styling" aria-label="Close"></button>

    {% for deviceId in devicesByRoom[workspace.slug][room.slug] %}
      {# Only one of these device divs should be visible at any one time.  For the clicked hotspot. #}
      <div class="ws-device awaits-styling" id="device_{{ deviceId }}">
        {% set device = devices[deviceId] %}
        <h2 class="ws-device-name awaits-styling">{{ device.name }}</h2>

        <div class="ws-device-intro-text awaits-styling">{{ device.description }}</div>

        {{ downloadPdf.render(common, device.pdfUrl) }}

        {{ carousel.render(device.carouselItems) }}

        {{ features.render(common, device.features) }}

        {{ specs.render(common, device.specs) }}

        {{ configGuide.render(common, device.configGuide) }}

      </div>
    {% endfor %}
  </div>
{% endmacro %}

