{% import "./image-carousel.njk" as carousel %}
{% import "./features.njk" as features %}
{% import "./specs.njk" as specs %}
{% import "./config-guide.njk" as configGuide %}
{% import "../common/download-pdf.njk" as downloadPdf %}


{% macro render(common, workspace, room, devicesByRoom, devices) %}
  {# This div may be positioned off-screen and animated into place when a hotspot is clicked #}
  <div class="ws-device-modal-root ws-displayNone">
    {{ downloadPdf.render(common, device.pdfUrl) }}
    <a class="ws-device-modal-close ws-modal-close" aria-label="Close" href="#/{{ workspace.slug }}/{{ room.slug }}">{% icon "close-x", "ws-close-x" %}</a>
    <div class="ws-top-rule"></div>

    {% for deviceId in devicesByRoom[workspace.slug][room.slug] %}
      {# Only one of these device divs should be visible at any one time.  For the clicked hotspot.
         We can't use the device ID in an actual id attribute, because there may be more than one instance of the same device.
         It has to be a classname.
      #}
      <div class="ws-device ws-device-{{ deviceId }} ws-displayNone">
        {% set device = devices[deviceId] %}
        <h2 class="ws-device-name">{{ device.name }}</h2>

        <div class="ws-device-intro-text">{{ device.description }}</div>

        <a class="ws-learn-more-cta" href="" target="_blank">{{ common.learnMoreCtaText }}</a>

        {{ carousel.render(device.carouselItems) }}

        {{ features.render(common, device.features) }}

        {{ specs.render(common, device.specs) }}

        {{ configGuide.render(common, device.configGuide) }}

      </div>
    {% endfor %}
  </div>
{% endmacro %}

