{% macro render(roomId, deviceId, items)%}
  <div id="swiper-{{ roomId }}-{{ deviceId }}-carousel" class="ws-image-carousel">

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in items %}
          {% set isVideo = item.endsWith('.mp4') %}
          {% if isVideo %}
            <div class="swiper-slide">{% video item %}</div>
          {% else %}
            {% set imagePath = "devices/" + deviceId + "/carousel/" + item %}
            <div class="swiper-slide">{% imagesync imagePath %}</div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="ws-carousel-nav">
        <span class="ws-carousel-slide-numbers"><span class="ws-carousel-active-slide">1</span> of {{ items.length }}</span>
        <!-- If we need navigation buttons -->
        <div class="ws-carousel-button-prev">{% icon "prev-button", "", [34] %}</div>
        <div class="ws-carousel-button-next">{% icon "next-button", "", [34] %}</div>
      </div>

    </div>
  </div>
{% endmacro %}
