{% macro render(roomId, deviceId, items)%}
  <div id="swiper-{{ roomId }}-{{ deviceId }}-carousel" class="ws-image-carousel">

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in items %}
          {# The following is truthy for Strings.#}
          {% set isItemPathOnly = item.substring %}
          {% if isItemPathOnly %}
            {% set isVideo = item.endsWith('.mp4') %}
            {% if isVideo %}
              <div class="swiper-slide">{% video item %}</div>
            {% else %}
              {% set imagePath = "devices/" + deviceId + "/carousel/" + item %}
              <div class="swiper-slide">{% imagesync imagePath, "", "", "", true, "100vw" %}</div>
            {% endif %}
          {% else %}
            {% set isVideo = item.filename.endsWith('.mp4') %}
            {% if isVideo %}
              <div class="swiper-slide">{% video item.filename, item.alt %}</div>
            {% else %}
              {% set imagePath = "devices/" + deviceId + "/carousel/" + item.filename %}
              <div class="swiper-slide">{% imagesync imagePath, item.alt, "", "", true, "100vw" %}</div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="ws-carousel-nav{% if items.length === 1 %} ws-displayNone{% endif %}">
      <span class="ws-carousel-slide-numbers"><span class="ws-carousel-active-slide">1</span> of {{ items.length }}</span>
      <div class="ws-carousel-button-prev"></div>
      <div class="ws-carousel-button-next">{% icon "next-button", "", [34] %}</div>
      </div>
  </div>
{% endmacro %}
{% icon "prev-button", "", [34] %}
