{% macro specification(spec) %}
  <li>
    {% if spec.icon %}
      {% set iconSize = [32, 32] %}
      {% if spec.iconSize %}
        {% set iconSize = spec.iconSize %}
      {% endif %}
      <div class="ws-icon-holder">{% icon spec.icon, '', iconSize %}</div>
    {% else %}
      <div class="ws-icon-holder"></div>
    {% endif %}
    <span>{{ spec.text }}</span>
  </li>
{% endmacro %}

{% macro render(common, specs) %}
  <div class="ws-device-specs ws-modal-section">
    <h6 class="ws-modal-section-heading">{{ common.deviceModal.specsHeadingText }}</h6>
    <ul>
      {% for spec in specs %}
        {{ specification(spec) }}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
