{% import "../partials/category-page/index.njk" as tabbedRooms %}
{% import "../partials/common/commonUi.njk" as commonUi %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<main>

  <!-- Content Section -->
  <div class="ws-category-root" style="opacity: 0">
    <link rel="stylesheet" href="{% webpack 'category-page.css' %}">

    {{commonUi.renderForCategory(common, workspaces, workspaceId)}}

    <div class="ws-category-page-content">

      <div class="ws-category-content-root">

        <h2 class="ws-category-name">{{ workspaces[workspaceId].name }}</h2>

        <p class="ws-category-text">{{ workspaces[workspaceId].categoryPageText }}</p>

        {{ tabbedRooms.render(common, workspaceId, workspaces, devicesByRoom, devices, softwareByRoom, software) }}

      </div>

    </div>

    {# The following line forces the parser to block until the stryles load. #}
    <script>/**/</script>
    <script async defer src="{% webpack 'category-page.js' %}"></script>
    <style>
      .ws-category-root {
        opacity: 1 !important;
      }
    </style>
  </div>
  <!--/ Content Section -->

</main>

</body>
</html>
