@font-face {
  font-family: 'CiscoSansTT';
  font-style: normal;
  font-weight: 400;
  src: local('CiscoSansTT-Regular'),
    url(../fonts/CiscoSansTT.woff2) format('woff2');
}

@font-face {
  font-family: 'CiscoSansTT';
  font-style: normal;
  font-weight: 500;
  src: local('CiscoSansTT-Medium'),
    url(../fonts/CiscoSansTT-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'CiscoSansTT';
  font-style: normal;
  font-weight: 700;
  src: local('CiscoSansTT-Bold'),
    url(../fonts/CiscoSansTT-Bold.woff2) format('woff2');
}

