// This is intended as a marker class to be removed from elements as we work on them.
$awaitsBorderWidth: 1px;
.awaits-styling {
  margin: $awaitsBorderWidth * 2;
  border: $awaitsBorderWidth dotted red;
  .awaits-styling {
    border: $awaitsBorderWidth dotted lightgreen;
    .awaits-styling {
      border: $awaitsBorderWidth dotted cyan;
      .awaits-styling {
        border: $awaitsBorderWidth dotted lightsalmon;
        .awaits-styling {
          border: $awaitsBorderWidth dotted greenyellow;
          .awaits-styling {
            border: $awaitsBorderWidth dotted red;
            .awaits-styling {
              border: $awaitsBorderWidth dotted lightgreen;
              .awaits-styling {
                border: $awaitsBorderWidth dotted cyan;
                .awaits-styling {
                  border: $awaitsBorderWidth dotted lightsalmon;
                  .awaits-styling {
                    border: $awaitsBorderWidth dotted greenyellow;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
