#ws-immersive-root {
  .ws-initial-view {
    opacity: 1;
    width: 100%;

    &.explored {
      @include fadeOut(0.3s);

      &.reversed {
        animation-direction: reverse;
      }
    }

    .ws-initial-content {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      text-align: center;

      .ws-initial-text {
        @include ws-initial-text-font;
        color: white;
      }

      .ws-initial-cta {
        padding: 17px 22px;
        margin-top: 31px;
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  #ws-immersive-root {
    .ws-initial-view {
      .ws-initial-content {
        width: calc(100vw - 40px);
      }
    }
  }
}

@media only screen and (min-width: 521px) and (max-width: 768px) {
  #ws-immersive-root {
    .ws-initial-view {
      .ws-initial-content {
        width: calc(100vw - 128px);

        .ws-initial-cta {
          margin-top: 38px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  #ws-immersive-root {
    .ws-initial-view {
      .ws-initial-content {
        width: calc(100vw - 128px);

        .ws-initial-cta {
          margin-top: 38px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #ws-immersive-root {
    .ws-initial-view {
      .ws-initial-content {
        width: calc(100vw - 440px);

        .ws-initial-cta {
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1367px) {
  #ws-immersive-root {
    .ws-initial-view {
      .ws-initial-content {
        width: calc(100vw - 544px);

        .ws-initial-cta {
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  #ws-immersive-root {
    .ws-initial-view {
      .ws-initial-content {
        width: calc(100vw - 770px);

        .ws-initial-cta {
          margin-top: 55px;
        }
      }
    }
  }
}

@import 'rotatingbg';
