$list-items-border-color: #c4c4c4;
$modal-transform-transition: transform 0.65s
  cubic-bezier(0.403, 0.172, 0, 0.968) 0s;

// All recursive children of the #ws-modal-layer
#ws-modal-layer:before,
#ws-modal-layer:after,
#ws-modal-layer *,
#ws-modal-layer *:before,
#ws-modal-layer *:after {
  box-sizing: inherit;
}

#ws-modal-layer {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: 0;

  &.fadeIn {
    @include fadeOut(0.3s);
    animation-direction: reverse;
    &.fadeOut {
      @include fadeOut(0.6s);
      animation-direction: normal;
    }
  }

  &::before {
    content: ' ';
    background-color: #00000060;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
  }

  .ws-room-modals-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ws-modal-root:not(.ws-displayNone) {
    display: block;
    position: relative;
    background-color: white;
    padding: 21px;
    overflow-x: hidden;

    a.ws-modal-close {
      background-color: white;
      display: block;
      width: 56px;
      height: 56px;
      float: right;
      position: relative;
      border: 1px solid black;
      border-radius: 28px;
      &:hover {
        border-color: black;
        background-color: black;
        svg {
          filter: invert(100%);
        }
      }

      .ws-close-x {
        width: 16.64px;
        height: 16.64px;
        position: relative;
        transform: translate(114%, 88%);
      }
    }

    .ws-top-rule {
      clear: both;
      width: 100vw;
      height: 0;
      margin: 15px -21px 40px;
    }
  }

  .ws-room-info-modal-root:not(.ws-displayNone) {
    min-height: 100vh;
    transform: translateX(100vw);
    transition: $modal-transform-transition;

    &.slide-in {
      transform: translateX(0vw);
    }

    .ws-download-pdf.ws-header-item {
      display: inline-block;
    }

    .ws-top-rule {
      border-bottom: 1px solid #c4c4c4;
    }

    .ws-info-modal-room-name {
      @include ws-h1;
      color: #181818;
      margin: 0 0 12px;
    }

    .ws-info-modal-text {
      color: #767676;
      @include ws-med-body-reg;
      p:last-child {
        margin-bottom: 32px;
      }

      p:first-child {
        margin-top: 0;
      }
    }

    .ws-button-container {
      margin-bottom: 70px;

      #ws-watch-video-btn,
      #ws-contact-sales-btn {
        @include ws-button-text;
        line-height: 52px;
        display: block;
        border-radius: 26px;
      }

      a {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .ws-info-modal-section-heading {
      @include ws-large-body-med;
      color: #767676;
    }

    .ws-info-modal-devices-inner {
      .ws-room-device-scroller {
        overflow-y: visible;
        overflow-x: scroll;
        cursor: grab;
        user-select: none;

        &::-webkit-scrollbar {
          width: 1px;
          height: 3px;
          overflow: visible;
        }

        &::-webkit-scrollbar-track {
          background: #c4c4c4;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: #078855;
          height: 3px;
        }

        &.ws-no-scroll {
          user-select: unset !important;
          cursor: default !important;

          &::-webkit-scrollbar-thumb {
            background: transparent;
          }
        }

        & {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }

        width: 100%;
        min-width: 100%;
        .swiper-wrapper {
          align-items: stretch;

          .swiper-slide {
            height: auto;
            box-sizing: border-box;
            width: calc(100vw * (319 / 375));
            padding: 0 14px 40px 0;

            &:last-child {
              padding: 0 0 40px 0;
            }

            .ws-room-info-carousel-img {
              width: 100%;
              height: calc(100vw * (305 / 375));
              border: solid 1px #00000028;
              border-radius: 16px;
              position: relative;
              overflow: hidden;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                height: auto;
                max-height: calc(100vw * (225 / 376));
                min-height: calc(100vw * (225 / 376));

                touch-action: none;
                user-select: none;
                -webkit-user-drag: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              }
            }

            h3 {
              @include ws-med-body-bold;
              color: #181818;
              margin: 22px 0 8px;
            }

            p {
              @include ws-med-body-reg;
              color: #767676;
            }

            a {
              color: #078855;
              text-decoration: none;
              @include ws-button-text;

              .ws-cta-right-arrow {
                width: 14px;
                height: 14px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }

    .ws-scroll-track-container {
      width: 100%;
      transform: translate(0, -1.5px);
      .ws-scroll-track {
        width: 100%;
        height: 1px;
        background-color: #c4c4c4;
        overflow: visible;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .ws-info-modal-software {
      margin: 0 -21px;

      .ws-scroll-track-container {
        &::after,
        &::before {
          content: ' ';
          width: 21px;
          height: 20px;
          background-color: #fff;
          display: block;
          float: right;
          position: relative;
          top: -3px;
          z-index: 1;
        }

        &::before {
          float: left;
        }

        .ws-scroll-track {
          width: calc(100% - 42px);
        }
      }

      .ws-room-software-scroller {
        overflow-y: visible;
        overflow-x: scroll;
        width: 100%;
        padding: 0 21px;
        z-index: 0;
        position: relative;

        cursor: grab;
        user-select: none;

        &::-webkit-scrollbar {
          width: 1px;
          height: 3px;
          overflow: visible;
        }

        &::-webkit-scrollbar-track {
          background: #c4c4c4;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: #078855;
          height: 3px;
        }

        &.ws-no-scroll {
          user-select: unset !important;
          cursor: default !important;

          &::-webkit-scrollbar-thumb {
            background: transparent;
          }
        }

        & {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }

        .swiper-wrapper {
          align-items: stretch;
          .swiper-slide {
            height: auto;
            box-sizing: border-box;
            width: calc(100vw * (319 / 375));
            padding: 0 14px 40px 0;

            &:last-child {
              padding: 0 21px 40px 0;
            }

            .ws-room-info-carousel-img {
              width: calc(100vw * (305 / 375));
              height: calc(100vw * (305 / 375));
              border-radius: 50%;
              border: none;
              position: relative;
              overflow: hidden;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
                max-height: calc(100vw * (305 / 376));
                min-height: calc(100vw * (305 / 376));
                touch-action: none;
                user-select: none;
                -webkit-user-drag: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              }
            }

            h3 {
              @include ws-med-body-bold;
              color: #181818;
              margin: 22px 0 8px;
            }

            p {
              @include ws-med-body-reg;
              color: #767676;
            }

            a {
              color: #078855;
              text-decoration: none;
              @include ws-button-text;

              .ws-cta-right-arrow {
                width: 14px;
                height: 14px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }

    .ws-room-info-tagline {
      @include ws-h1;
      color: #181818;
      margin: 66px 0 24px;
    }
  }

  .ws-device-modal-root:not(.ws-displayNone) {
    // Initially positioned off-screen
    top: 0;
    transform: translateY(100vh);
    transition: $modal-transform-transition;

    &.slide-in {
      transform: translateY(0vh);
    }

    .ws-device {
      .ws-device-name {
        margin: 40px auto 0;
        text-align: center;
        @include ws-device-name-text;
      }

      .ws-device-intro-text {
        max-width: 640px;
        margin: 40px auto;
        text-align: center;
        color: #545454;
        @include ws-med-body-reg;
      }

      a.ws-learn-more-cta {
        display: block;
        margin: 0 auto 37px;
        padding: 21px;
        width: 130px;
      }

      .ws-image-carousel {
        width: 100%;

        .swiper {
          display: block !important;
          aspect-ratio: 1.2 / 1;
          .swiper-wrapper {
            .swiper-slide {
              text-align: center;
              img {
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
              }
              video {
                max-width: 100%;
                max-height: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }

      .ws-carousel-nav {
        margin-top: 6px;
        text-align: center;

        .ws-carousel-button-prev {
          margin-right: 6px;
        }

        .ws-carousel-button-next,
        .ws-carousel-button-prev {
          display: inline-block;
          width: 34px;
          height: 34px;
          border: 0.5px solid black;
          border-radius: 17px;
          cursor: pointer;
          &:hover,
          &:focus {
            background-color: black;
            svg {
              filter: invert(100%);
            }
          }

          &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
          }
          .ws-icon {
            width: 34px;
            height: 34px;
            position: relative;
            top: -1px;
            left: -1px;
          }
        }
      }

      .ws-device-tagline {
        @include ws-device-tagline-text;
        text-align: center;
        margin: 96px auto 64px;
      }

      .ws-device-features.ws-modal-section {
        ul {
          padding: 0;
          width: 80%;
          margin: 64px auto;

          li {
            list-style: none;
            //flex: 0 0 100%;

            .ws-feature-short-phrase {
              @include ws-device-feature-short-phrase-text;
              margin-bottom: 18px;
              margin-top: 51px;
            }
            .ws-feature-long-phrase {
              @include ws-device-feature-long-phrase-text;
            }
          }
        }
      }

      .ws-device-specs.ws-modal-section {
        margin-top: 135px;
        margin-bottom: 44px;

        ul {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          margin: 0 auto;
          justify-content: center;

          li {
            list-style: none;
            border: 1px solid $list-items-border-color;
            border-radius: 16px;
            min-height: 196px;
            max-width: 170px;
            margin-bottom: 21px;
            &:last-child {
              margin-right: 0;
            }

            .ws-icon-holder {
              display: block;
              margin: 52px auto 20px;
              height: 33px;
            }

            svg.ws-icon {
              display: block;
              margin: 0 auto;
              // The dimensions are set in specs.njk
              width: unset;
              height: unset;
            }

            span {
              display: block;
              margin: 6px;
              text-align: center;
              @include ws-specs-list-items;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #ws-modal-layer {
    .ws-device-modal-root:not(.ws-displayNone) {
      .ws-device {
        .ws-image-carousel {
          .ws-carousel-nav {
            .ws-carousel-slide-numbers {
              display: none;
            }
          }
        }

        .ws-device-features.ws-modal-section {
          li:not(:first-child) {
            margin-top: 24px;
          }
        }

        .ws-device-specs.ws-modal-section {
          ul {
            // Make sure we only have room for 2 per row.
            max-width: calc((170px * 2) + 14px);

            li {
              // Select the left column only
              &:nth-child(odd) {
                // But not if they are the last child.
                &:not(:last-child) {
                  margin-right: 14px;
                }
              }

              // Flex to 50% minus half the margin-right value just above
              flex: 0 0 calc(50% - 7px);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #ws-modal-layer {
    .ws-modal-root:not(.ws-displayNone) {
      padding: 32px;
      .ws-top-rule {
        margin: 30px -32px 80px;
      }
    }

    .ws-room-info-modal-root:not(.ws-displayNone) {
      .ws-info-modal-room-name {
        margin-bottom: 20px;
      }

      .ws-info-modal-text {
        width: 90%;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.02em;
      }

      .ws-button-container {
        margin-top: 50px;
        margin-bottom: 70px;

        #ws-watch-video-btn,
        #ws-contact-sales-btn {
          @include ws-button-text;
          line-height: 52px;
          display: inline-block;
          border-radius: 26px;
        }

        a {
          margin-bottom: 0px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      .ws-info-modal-section-heading {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin-top: 120px;
        margin-bottom: 40px;
      }
      .ws-info-modal-devices-inner {
        .ws-room-device-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;

          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (380 / 768)) !important;
              padding: 0 14px 40px 0;

              &:last-child {
                padding: 0 0 40px 0;
              }

              .ws-room-info-carousel-img {
                //padding: 40px 45px;
                width: 100%;
                height: calc(100vw * (380 / 768));
                border: solid 1px #00000028;
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: auto;
                  height: auto;
                  max-height: calc(100vw * (225 / 768));
                  min-height: calc(100vw * (225 / 768));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }

              &.ws-single {
                width: 100% !important;
                display: flex;
                column-gap: 50px;
                align-items: flex-end;

                .ws-room-info-carousel-img {
                  //padding: 40px 45px;
                  min-width: calc(100vw * (380 / 768));
                  height: calc(100vw * (380 / 768));
                }
              }
            }
          }
        }
      }

      .ws-info-modal-software {
        margin: 0 -32px;

        .ws-scroll-track-container {
          &::after,
          &::before {
            content: ' ';
            width: 32px;
            height: 20px;
            background-color: #fff;
            display: block;
            float: right;
            position: relative;
            top: -3px;
            z-index: 1;
          }

          &::before {
            float: left;
          }

          .ws-scroll-track {
            width: calc(100% - 64px);
          }
        }

        .ws-room-software-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;
          padding: 0 32px;
          z-index: 0;
          position: relative;

          cursor: grab;
          user-select: none;

          &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
            overflow: visible;
          }

          &::-webkit-scrollbar-track {
            background: #c4c4c4;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #078855;
            height: 3px;
          }

          &.ws-no-scroll {
            user-select: unset !important;
            cursor: default !important;

            &::-webkit-scrollbar-thumb {
              background: transparent;
            }
          }

          & {
            -ms-overflow-style: none;
            scrollbar-width: none;
          }
          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (569 / 768));
              padding: 0 114px 40px 0;
              display: flex;

              &:last-child {
                padding: 0 32px 40px 0;
              }

              .ws-room-info-carousel-content {
                display: inline-block;
                margin-left: 40px;
              }

              .ws-room-info-carousel-img {
                display: inline-block;
                width: calc(100vw * (210 / 768));
                min-width: calc(100vw * (210 / 768));
                height: calc(100vw * (210 / 768));
                border-radius: 50%;
                border: none;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: calc(100vw * (210 / 768));
                  height: calc(100vw * (210 / 768));
                  max-height: calc(100vw * (210 / 768));
                  min-height: calc(100vw * (210 / 768));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }
            }
          }
        }
      }

      .ws-room-info-footer {
        text-align: center;
        .ws-room-info-tagline {
          @include ws-h1;
          color: #181818;
          margin: 66px 0 24px;
        }
      }
    }

    .ws-device-modal-root:not(.ws-displayNone) {
      .ws-device {
        .ws-device-name {
          margin-top: 80px;
        }

        .ws-image-carousel {
          .ws-carousel-nav {
            .ws-carousel-slide-numbers {
              display: none;
            }
          }
        }

        .ws-device-tagline {
          margin-bottom: 0;
        }

        .ws-device-features.ws-modal-section {
          ul {
            margin-top: 22px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: space-between;

            li {
              &:nth-child(2) {
                // Line up first row
                margin-top: 0;
              }
              &:nth-child(odd) {
                margin-right: 10px;
              }
              &:nth-child(even) {
                margin-left: 10px;
              }
            }
          }
        }

        .ws-device-specs.ws-modal-section {
          margin-bottom: 76px;
          ul {
            // Make sure we only have room for 3 per row.
            max-width: calc((170px * 3) + (20px * 2));

            li {
              // At this breakpoint, there can only be up to 2 rows of up to 3 <li> each
              flex: 0 0 33%;
              // Select every 3rd child, starting at the first
              // Select every 3rd child, starting at the second

              &:nth-child(3n + 1),
              &:nth-child(3n + 2) {
                // But not if they are the last child.
                &:not(:last-child) {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  #ws-modal-layer {
    width: 74.2%;

    .ws-modal-root:not(.ws-displayNone) {
      padding: 12px 64px 32px;
      .ws-top-rule {
        margin: 12px -64px 64px;
      }
    }

    .ws-room-info-modal-root:not(.ws-displayNone) {
      .ws-info-modal-header-content {
        display: flex;
        column-gap: 40px;

        .ws-info-modal-room-name {
          font-size: 64px;
          line-height: 64px;
          letter-spacing: -0.04em;
          margin-bottom: 24px;
          flex-shrink: 5;
        }

        .ws-info-modal-content {
          width: calc(100vw * (478 / 1280));

          .ws-info-modal-text {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.02em;
          }

          .ws-button-container {
            margin-top: 0;
            margin-bottom: 80px;

            #ws-watch-video-btn,
            #ws-contact-sales-btn {
              @include ws-button-text;
              line-height: 52px;
              display: inline-block;
              border-radius: 26px;
            }

            a {
              margin-bottom: 0px;

              &:first-child {
                margin-right: 20px;
              }
            }
          }
        }
      }

      .ws-info-modal-section-heading {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin-top: 79px;
      }
      .ws-info-modal-devices-inner {
        display: flex;
        .ws-room-device-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;

          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (380 / 1280)) !important;
              padding: 0 14px 40px 0;

              &:last-child {
                padding: 0 0 40px 0;
              }

              .ws-room-info-carousel-img {
                //padding: 40px 45px;
                width: 100%;
                height: calc(100vw * (380 / 1280));
                border: solid 1px #00000028;
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: auto;
                  height: auto;
                  max-height: calc(100vw * (225 / 1280));
                  min-height: calc(100vw * (225 / 1280));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }

              &.ws-single {
                width: 100% !important;
                display: flex;
                column-gap: 50px;
                align-items: flex-end;

                .ws-room-info-carousel-img {
                  //padding: 40px 45px;
                  min-width: calc(100vw * (380 / 1280));
                  height: calc(100vw * (380 / 1280));
                }
              }
            }
          }
        }
      }

      .ws-scroll-track-container {
        width: 100%;
        position: relative;

        .ws-scroll-track {
          width: 100%;
          height: 1px;
          background-color: #c4c4c4;
          overflow: visible;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .ws-info-modal-software {
        margin: 0 -64px;

        .ws-scroll-track-container {
          &::after,
          &::before {
            content: ' ';
            width: 64px;
            height: 20px;
            background-color: #fff;
            display: block;
            float: right;
            position: relative;
            top: -3px;
            z-index: 1;
          }

          &::before {
            float: left;
          }

          .ws-scroll-track {
            width: calc(100% - 128px);
          }
        }

        .ws-room-software-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;
          padding: 0 64px;
          z-index: 0;
          position: relative;

          cursor: grab;
          user-select: none;

          &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
            overflow: visible;
          }

          &::-webkit-scrollbar-track {
            background: #c4c4c4;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #078855;
            height: 3px;
          }

          &.ws-no-scroll {
            user-select: unset !important;
            cursor: default !important;

            &::-webkit-scrollbar-thumb {
              background: transparent;
            }
          }

          & {
            -ms-overflow-style: none;
            scrollbar-width: none;
          }

          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (569 / 1280));
              padding: 0 114px 40px 0;
              display: flex;

              &:last-child {
                padding: 0 64px 40px 0;
              }

              .ws-room-info-carousel-content {
                display: inline-block;
                margin-left: 40px;
              }

              .ws-room-info-carousel-img {
                display: inline-block;
                width: calc(100vw * (210 / 1280));
                min-width: calc(100vw * (210 / 1280));
                height: calc(100vw * (210 / 1280));
                border-radius: 50%;
                border: none;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: calc(100vw * (210 / 1280));
                  height: calc(100vw * (210 / 1280));
                  max-height: calc(100vw * (210 / 1280));
                  min-height: calc(100vw * (210 / 1280));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }
            }
          }
        }
      }

      .ws-room-info-footer {
        text-align: center;
        .ws-room-info-tagline {
          @include ws-h1;
          color: #181818;
          margin: 66px 0 24px;
        }

        .ws-button-container {
          a#ws-contact-sales-btn {
            display: inline-block;
          }
        }
      }
    }

    .ws-device-modal-root:not(.ws-displayNone) {
      min-height: 100vh;
      transform: translate(100vw, 0);
      &.slide-in {
        transform: translate(0vw, 0);
      }

      .ws-device {
        .ws-device-name {
          margin-top: 69px;
        }

        .ws-image-carousel {
          height: auto;
          .swiper {
            height: calc(100% * (1.77 / 1));
            aspect-ratio: 1.77 / 1;
          }
          .ws-carousel-nav {
            text-align: right;
            .ws-carousel-slide-numbers {
              margin-right: 20px;
            }
          }
        }

        .ws-device-features.ws-modal-section {
          ul {
            margin-top: 22px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: space-between;
            width: 90%;

            li {
              &:nth-child(2) {
                // Line up first row
                margin-top: 0;
              }
              &:nth-child(odd) {
                margin-right: 30px;
              }
              &:nth-child(even) {
                margin-left: 30px;
              }
            }
          }
        }

        .ws-device-specs.ws-modal-section {
          ul {
            // Make sure we only have room for 4 per row (plus 3 gutters).
            max-width: calc((230px * 3) + (30px * 2));

            li {
              flex: 0 0 25%;
              max-width: 230px;
              // Set right margin on all, then remove from selected
              margin-right: 30px;
              &:nth-child(3n + 3) {
                margin-right: 0;
              }

              span {
                margin-left: 24px;
                margin-right: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  #ws-modal-layer {
    .ws-device-modal-root:not(.ws-displayNone) {
      .ws-device {
        .ws-device-features.ws-modal-section {
          ul {
            width: 78%;
            li {
              max-width: 362px;
            }
          }
        }
      }
    }

    .ws-room-info-modal-root:not(.ws-displayNone) {
      .ws-info-modal-header-content {
        display: flex;
        column-gap: 40px;

        .ws-info-modal-room-name {
          font-size: 64px;
          line-height: 64px;
          letter-spacing: -0.04em;
          margin-bottom: 24px;
          flex-shrink: 5;
        }

        .ws-info-modal-content {
          width: calc(100vw * (478 / 1366));

          .ws-info-modal-text {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.02em;
          }

          .ws-button-container {
            margin-top: 0;
            margin-bottom: 80px;

            #ws-watch-video-btn,
            #ws-contact-sales-btn {
              @include ws-button-text;
              line-height: 52px;
              display: inline-block;
              border-radius: 26px;
            }

            a {
              margin-bottom: 0px;

              &:first-child {
                margin-right: 20px;
              }
            }
          }
        }
      }

      .ws-info-modal-section-heading {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin-top: 79px;

        &.ws-info-modal-section-heading-software {
          margin-top: 157px;
        }
      }
      .ws-info-modal-devices-inner {
        display: flex;
        .ws-room-device-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;
          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (380 / 1366)) !important;
              padding: 0 14px 40px 0;

              &:last-child {
                padding: 0 0 40px 0;
              }

              .ws-room-info-carousel-img {
                //padding: 40px 45px;
                width: 100%;
                height: calc(100vw * (380 / 1366));
                border: solid 1px #00000028;
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: auto;
                  height: auto;
                  max-height: calc(100vw * (225 / 1366));
                  min-height: calc(100vw * (225 / 1366));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }

              &.ws-single {
                width: 100% !important;
                display: flex;
                column-gap: 50px;
                align-items: flex-end;

                .ws-room-info-carousel-img {
                  //padding: 40px 45px;
                  min-width: calc(100vw * (380 / 1366));
                  height: calc(100vw * (380 / 1366));
                }
              }
            }
          }
        }
      }
      .ws-scroll-track-container {
        width: 100%;
        position: relative;

        .ws-scroll-track {
          width: 100%;
          height: 1px;
          background-color: #c4c4c4;
          overflow: visible;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .ws-info-modal-software {
        margin: 0 -64px;

        .ws-scroll-track-container {
          &::after,
          &::before {
            content: ' ';
            width: 64px;
            height: 20px;
            background-color: #fff;
            display: block;
            float: right;
            position: relative;
            top: -3px;
            z-index: 1;
          }

          &::before {
            float: left;
          }

          .ws-scroll-track {
            width: calc(100% - 128px);
          }
        }

        .ws-room-software-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;
          padding: 0 64px;
          z-index: 0;
          position: relative;

          cursor: grab;
          user-select: none;

          &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
            overflow: visible;
          }

          &::-webkit-scrollbar-track {
            background: #c4c4c4;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #078855;
            height: 3px;
          }

          &.ws-no-scroll {
            user-select: unset !important;
            cursor: default !important;

            &::-webkit-scrollbar-thumb {
              background: transparent;
            }
          }

          & {
            -ms-overflow-style: none;
            scrollbar-width: none;
          }
          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (569 / 1366));
              padding: 0 114px 40px 0;
              display: flex;

              &:last-child {
                padding: 0 64px 40px 0;
              }

              .ws-room-info-carousel-content {
                display: inline-block;
                margin-left: 40px;
              }

              .ws-room-info-carousel-img {
                display: inline-block;
                width: calc(100vw * (210 / 1366));
                min-width: calc(100vw * (210 / 1366));
                height: calc(100vw * (210 / 1366));
                border-radius: 50%;
                border: none;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: calc(100vw * (210 / 1366));
                  height: calc(100vw * (210 / 1366));
                  max-height: calc(100vw * (210 / 1366));
                  min-height: calc(100vw * (210 / 1366));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }
            }
          }
        }
      }

      .ws-room-info-footer {
        text-align: center;
        .ws-room-info-tagline {
          @include ws-h1;
          color: #181818;
          margin: 140px 0 24px;
        }

        .ws-button-container {
          a#ws-contact-sales-btn {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  #ws-modal-layer {
    .ws-modal-root:not(.ws-displayNone) {
      padding: 32px 72px;
      .ws-top-rule {
        margin: 32px -72px 75px;
      }
    }

    .ws-room-info-modal-root:not(.ws-displayNone) {
      .ws-info-modal-header-content {
        display: flex;
        column-gap: 40px;

        .ws-info-modal-room-name {
          font-size: 64px;
          line-height: 64px;
          letter-spacing: -0.04em;
          margin-bottom: 24px;
          flex-shrink: 0;
          flex-grow: 5;
        }

        .ws-info-modal-content {
          width: calc(100vw * (714 / 1920));

          .ws-info-modal-text {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.02em;
          }

          .ws-button-container {
            margin-top: 0;
            margin-bottom: 85px;

            #ws-watch-video-btn,
            #ws-contact-sales-btn {
              @include ws-button-text;
              line-height: 52px;
              display: inline-block;
              border-radius: 26px;
            }

            a {
              margin-bottom: 0px;

              &:first-child {
                margin-right: 20px;
              }
            }
          }
        }
      }

      .ws-info-modal-section-heading {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin-top: 0;

        &.ws-info-modal-section-heading-software {
          margin-top: 105px;
        }
      }
      .ws-info-modal-devices-inner {
        display: flex;
        .ws-room-device-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;
          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (380 / 1920)) !important;
              padding: 0 14px 90px 0;

              &:last-child {
                padding: 0 0 90px 0;
              }

              .ws-room-info-carousel-img {
                //padding: 40px 45px;
                width: 100%;
                height: calc(100vw * (380 / 1920));
                border: solid 1px #00000028;
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: auto;
                  height: auto;
                  max-height: calc(100vw * (225 / 1920));
                  min-height: calc(100vw * (225 / 1920));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }

              &.ws-single {
                width: 100% !important;
                display: flex;
                column-gap: 60px;
                align-items: flex-end;

                .ws-room-info-carousel-img {
                  width: calc(100vw * (524 / 1920));
                  min-width: calc(100vw * (524 / 1920));
                  height: calc(100vw * (524 / 1920));

                  img {
                    max-height: calc(100vw * (402 / 1920));
                    min-height: calc(100vw * (402 / 1920));
                  }
                }

                .ws-room-info-carousel-content {
                  max-width: 350px;
                }
              }
            }
          }
        }
      }

      .ws-scroll-track-container {
        width: 100%;
        position: relative;

        .ws-scroll-track {
          width: 100%;
          height: 1px;
          background-color: #c4c4c4;
          overflow: visible;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .ws-info-modal-software {
        margin: 0 -72px;

        .ws-scroll-track-container {
          &::after,
          &::before {
            content: ' ';
            width: 72px;
            height: 20px;
            background-color: #fff;
            display: block;
            float: right;
            position: relative;
            top: -3px;
            z-index: 1;
          }

          &::before {
            float: left;
          }

          .ws-scroll-track {
            width: calc(100% - 144px);
          }
        }

        .ws-room-software-scroller {
          overflow-y: visible;
          overflow-x: scroll;
          width: 100%;
          padding: 0 72px;
          z-index: 0;
          position: relative;

          cursor: grab;
          user-select: none;

          &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
            overflow: visible;
          }

          &::-webkit-scrollbar-track {
            background: #c4c4c4;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #078855;
            height: 3px;
          }

          &.ws-no-scroll {
            user-select: unset !important;
            cursor: default !important;

            &::-webkit-scrollbar-thumb {
              background: transparent;
            }
          }

          & {
            -ms-overflow-style: none;
            scrollbar-width: none;
          }
          .swiper-wrapper {
            align-items: stretch;
            .swiper-slide {
              height: auto;
              box-sizing: border-box;
              width: calc(100vw * (569 / 1920));
              padding: 0 114px 40px 0;
              display: flex;

              &:last-child {
                padding: 0 72px 40px 0;
              }

              .ws-room-info-carousel-content {
                display: inline-block;
                margin-left: 40px;
              }

              .ws-room-info-carousel-img {
                display: inline-block;
                width: calc(100vw * (210 / 1920));
                min-width: calc(100vw * (210 / 1920));
                height: calc(100vw * (210 / 1920));
                border-radius: 50%;
                border: none;
                position: relative;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: calc(100vw * (210 / 1920));
                  height: calc(100vw * (210 / 1920));
                  max-height: calc(100vw * (210 / 1920));
                  min-height: calc(100vw * (210 / 1920));
                }
              }

              h3 {
                @include ws-med-body-bold;
                color: #181818;
                margin: 22px 0 8px;
              }

              p {
                @include ws-med-body-reg;
                color: #767676;
              }
            }
          }
        }
      }

      .ws-room-info-footer {
        text-align: center;
        .ws-room-info-tagline {
          font-family: 'CiscoSansTT-Regular', sans-serif;
          font-size: 56px;
          line-height: 64px;
          letter-spacing: -0.04em;
          color: #000;
          margin: 140px auto 24px;
          width: calc(100vw * (600 / 1920));
        }

        .ws-button-container {
          a#ws-contact-sales-btn {
            display: inline-block;
          }
        }
      }
    }

    .ws-device-modal-root:not(.ws-displayNone) {
      .ws-device {
        .ws-device-features.ws-modal-section {
          ul {
            width: 65%;
            li {
            }
          }
        }

        .ws-device-specs.ws-modal-section {
          ul {
            // Make sure we only have room for 6 per row (plus 5 gutters).
            max-width: calc((230px * 6) + (30px * 5));

            li {
              flex: 0 0 calc(100% / 6);
              // Use important to reset nth-child stuff at lower breakpoints
              margin-right: 30px !important;
              &:last-child,
              &:nth-child(5n + 5) {
                margin-right: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
