$workspaceCount: 3;
$individualAnimationDuration: 5s;
$animationDuration: $workspaceCount * $individualAnimationDuration;

.ws-immersive-root {
  .ws-initial-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    .ws-initial-rotating-background-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      overflow: hidden;
      z-index: 0;

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #000;
        opacity: 0.1;
        content: ' ';
        z-index: 1;
      }

      .ws-rotating-background-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        min-width: 100%;

        img {
          position: relative;
          height: 100%;
          width: auto;
          min-width: 100%;
          max-width: initial;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        animation-duration: $animationDuration;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

        &.ws-rotating-background-image-fpo {
          animation-name: fpoFadeOut;
          animation-duration: ($individualAnimationDuration + 1);
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          z-index: 3;
        }

        &:not(.ws-rotating-background-image-fpo) {
          opacity: 0;
          animation-name: slidecycle;

          @for $i from 0 to $workspaceCount {
            &:nth-child(#{$i + 1}) {
              animation-delay: $i * $individualAnimationDuration;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 521px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@media only screen and (min-width: 1281px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@media only screen and (min-width: 1367px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@keyframes fpoFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.2);
    z-index: 0;
  }
}

//7s or 10s
@keyframes slidecycle {
  //fade in begins
  0% {
    opacity: 0;
    z-index: 2;
  }

  // at 1 sec fade in completes
  11% {
    opacity: 1;
  }

  // at 3s starts to fade out
  33% {
    opacity: 1;
    z-index: 1;
  }

  // at 4s completes fade out
  44% {
    opacity: 0;
    z-index: 1;
    transform: scale(1.2);
  }

  //from 4s to 9s it lays dormant
  100% {
    opacity: 0;
    z-index: 1;
    transform: scale(1);
  }
}
