html,
body {
  height: 100%;
  & * {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  // If the following is not true because of the page template into which our HTML is copied,
  // we may need to adjust our root container margins to compensate.  But we should be safe:
  // the webex.com homepage defines `margin: 0` for the body element.
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.ws-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}

.ws-icon.ws-icon--site-logo {
  width: 215.88px;
  height: 26.46px;
}

$light-grey: #767676;
$grey: #545454;
$dark-grey-1: #181818;
$dark-grey-2: #222222;

@import 'global';
@import 'fonts';
@import 'animations';
@import 'common';
@import 'initial-landing';
@import 'spaces';
@import 'modals';
@import 'buttons';
