html,
body {
  height: 100%;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}

.icon.icon--site-logo {
  width: 215.88px;
  height: 26.46px;
}

@import 'global';
@import 'animations';
@import 'common';
@import 'initial-landing';
@import 'spaces';
@import "modals";

@import 'for-dev-only';
