---
permalink: workspaces/explore.html
---
{% import "partials/immersive/index.njk" as immersive %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<main>

  <!-- Content Section -->
  <div class="ws-workspaces-page-content" style="opacity: 0">
    <link rel="stylesheet" href="{% webpack 'main.css' %}">

    {# This is the root element for the "immersive experience" #}
    {{ immersive.render(common, workspaces, devicesByRoom, vendorDevicesByRoom, devices) }}

    {# The following line forces the parser to block until the stryles load. #}
    <script>/**/</script>
    <script async defer src="{% webpack 'main.js' %}"></script>
    <style>
      .ws-workspaces-page-content {
        opacity: 1 !important;
      }
    </style>
  </div>
  <!--/ Content Section -->

</main>

