{% macro render(common, workspaces) %}
  <div class="ws-common-ui">
    <a href="/workspaces/explore.html#">{% icon "site-logo" %}</a>

    <div class="ws-workspace-nav" style="opacity: 0">
      <ul>
        {%- for workspaceId in common.orderedWorkspaceIds %}
          <li><a href="#/{{ workspaceId }}" class="ws-disabled">{{ workspaces[workspaceId].name }}</a></li>
        {%- endfor %}
      </ul>
      <div id="ws-nav-underline" class="ws-displayNone"></div>
    </div>
    {# The href in the following anchor element is a temporary change while category pages are not yet ready.
       In Phase 2, when they are ready, remove this href, and uncomment stuff in `spaces.js`.
       For https://jira.akqa.net/browse/SWW-209.
    #}
    <a href="" class="ws-about-cta ws-cta ws-transparent-cta" style="opacity: 0"><span class="ws-XS">{{ common.aboutWorkspaceCtaShortText }}</span><span class="ws-S ws-M ws-L ws-XL">{{ common.aboutWorkspaceCtaText }}</span></a>
  </div>
{% endmacro %}
