{% macro render(common, pdfUrl) %}
  <div class="ws-download-pdf">
    <a href="{{ pdfUrl }}"><span>{{ common.deviceModal.pdfCtaText }}</span>{% icon "download", "ws-download-icon" %}</a>
  </div>
{% endmacro %}

