{% macro render(common, workspaceId, roomId, devicesByRoom, devices) %}
  <div class="ws-device-section">
    {% for deviceId in devicesByRoom[workspaceId][roomId] %}
        {% if devicesByRoom[workspaceId][roomId].length % 2 != 0 and loop.last %}
            {{device(devices[deviceId], common, true)}}
        {% else %}
            {{device(devices[deviceId], common)}}
        {% endif %}
    {% endfor %}


  </div>
{% endmacro %}

{% macro categoryPageImage(deviceId, altText, shape) %}
  {% set imagePath = "category-page/" + deviceId + "-" + shape + ".jpg" %}
  {% set classname = "ws-" + shape %}
  <div class="ws-category-page-image {{ classname }}">
    {% imagesync imagePath, altText %}
  </div>
{% endmacro %}

{% macro device(device, common, isOddEnd = false) %}
     <div class="ws-device{% if isOddEnd %} oddEnd{% endif %}">
        {% if isOddEnd %}
            {# Square is hidden at large breakpoints, wide is hidden at smnall, ones. #}
            {{ categoryPageImage(device.id, device.categoryPage.altText, "square") }}
            {{ categoryPageImage(device.id, device.categoryPage.altText, "wide") }}
            <div class="ws-oddEndWrapper">
                <div>
                    <h3>{{ device.name }}</h3>
                    <div class="ws-software-description">{{ device.description }}</div>
                </div>
                <div>
                    {{features(device.features, device.featuresTitle)}}
                    {{ deviceCTAs(device.url, common)}}
                </div>
            </div>
        {% else %}
            {{ categoryPageImage(device.id, device.categoryPage.altText, "square") }}
            <h3>{{ device.name }}</h3>
            <div class="ws-software-description">{{ device.description }}</div>

            {{features(device.features, device.featuresTitle)}}
            {{ deviceCTAs(device.url, common)}}

        {% endif %}
     </div>
{% endmacro %}

{% macro features(features, title) %}
    {% for feature in features %}
        {% if loop.first %}
            <h4 class="ws-device-features-title">{{title}}</h4>
            <ul class="ws-software-features">
        {% endif %}

        <li class="ws-device-feature">{{ feature }}</li>

    {% if loop.last %}</ul>{% endif %}

    {% endfor %}
{% endmacro %}

{% macro deviceCTAs(url, common) %}
    <a class="ws-learn-more-cta" href="{{ url }}">{{ common.learnMoreCtaText }}</a>
    <a class="ws-contact-cta" target="_blank" href="{{ common.contactUrl }}" >{{ common.contactCtaText }}</a>
{% endmacro %}
