{% macro render(common, workspaceId, roomId, devicesByRoom, devices) %}
  <div class="ws-device-section">
    {% for deviceId in devicesByRoom[workspaceId][roomId] %}
        {% if devicesByRoom[workspaceId][roomId].length % 2 != 0 and loop.last %}
            {{device(devices[deviceId], common, true)}}
        {% else %}
            {{device(devices[deviceId], common)}}
        {% endif %}
    {% endfor %}


  </div>
{% endmacro %}

{% macro categoryPageImage(deviceId, altText, shape) %}
  {% set imagePath = "category-page/" + deviceId + "-" + shape + ".jpg" %}
  {% set classname = "ws-" + shape %}
  {%  if shape === "wide" %}
    {% set sizes = "100vw" %}
  {% else %}
    {% set sizes = "(max-width: 1365px) 100vw, 50vw" %}
  {% endif %}
  <div class="ws-category-page-image {{ classname }}">
    {% imagesync imagePath, altText, "", "", true, sizes %}
  </div>
{% endmacro %}

{% macro device(device, common, isOddEnd = false) %}
     <div class="ws-device{% if isOddEnd %} oddEnd{% endif %}">
        {% if isOddEnd %}
            {# Square is hidden at large breakpoints, wide is hidden at small, ones. #}
            {{ categoryPageImage(device.id, device.categoryPage.altText, "square") }}
            {{ categoryPageImage(device.id, device.categoryPage.altText, "wide") }}
            <div class="ws-oddEndWrapper">
                <div class="ws-oddEndWrapper-column">
                    <h3>{{ device.name }}</h3>
                    <div class="ws-device-description">{{ device.description }}</div>
                </div>
                <div class="ws-oddEndWrapper-column">
                    {{features(device.features, device.featuresTitle)}}
                    {{ deviceCTAs(device.url, common)}}
                </div>
            </div>
        {% else %}
            {{ categoryPageImage(device.id, device.categoryPage.altText, "square") }}
            <div class="ws-device-content">
                <h3>{{ device.name }}</h3>
                <div class="ws-device-description">{{ device.description }}</div>

                {{features(device.features, device.featuresTitle)}}
                {{ deviceCTAs(device.url, common)}}
            </div>
        {% endif %}
     </div>
{% endmacro %}

{% macro features(features, title) %}
    {% for feature in features %}
        {% if loop.first %}
            <h4 class="ws-device-features-title">{{title}}</h4>
            <ul class="ws-software-features">
        {% endif %}

        <li class="ws-device-feature">{{ feature }}</li>

    {% if loop.last %}</ul>{% endif %}

    {% endfor %}
{% endmacro %}

{% macro deviceCTAs(url, common) %}
    <a class="ws-learn-more-cta ws-cta ws-white-cta" href="{{ url }}"><span>{{ common.learnMoreCtaText }}</span></a>
    <a class="ws-contact-cta ws-cta ws-black-cta" target="_blank" href="{{ common.contactUrl }}" ><span>{{ common.contactCtaText }}</span></a>
{% endmacro %}
