{% macro render(common, workspaceId, roomId, devicesByRoom, devices) %}
  <div class="ws-device-section awaits-styling">
    {% for deviceId in devicesByRoom[workspaceId][roomId] %}
      <div class="awaits-styling">
        <h3>{{ devices[deviceId].name }}</h3>

        {{ categoryPageImage(devices[deviceId].categoryPageImage,  common.sizeClasses) }}

        <div class="ws-software-description">{{ devices[deviceId].description }}</div>

        {% for feature in devices[deviceId].features %}
            {% if loop.first %}
                <h4 class="ws-device-features-title">{{devices[deviceId].featuresTitle}}</h4>
                <ul class="ws-software-features">
            {% endif %}
          
            <li class="ws-device-feature">{{ feature }}</li>
          
          {% if loop.last %}</ul>{% endif %}
        
        {% endfor %}

        <a class="ws-learn-more-cta" href="{{ devices[deviceId].url }}">{{ common.learnMoreCtaText }}</a>
        <a class="ws-contact-cta" target="_blank" href="{{ common.contactUrl }}" >{{ common.contactCtaText }}</a>
      </div>
    {% endfor %}


  </div>
{% endmacro %}

{% macro categoryPageImage(image, sizeClasses) %}
  {% for size, prefix in sizeClasses %}
    <div class="ws-category-page-image {{ size }}">
{#      {% imagesync prefix+image.url, image.alt %}#}
    </div>
  {% endfor %}
{% endmacro %}
