{% macro render(common, workspaceId, workspaces) %}
  <div class="ws-navigation-section">

    <h2>{{ common.categoryPage.navigationSection.heading }}</h2>

    <div class="ws-navigation-section-text">{{ common.categoryPage.navigationSection.text }}</div>

    <a href="/workspaces/explore.html">{{ common.categoryPage.navigationSection.cta }}<span class="ws-cta-right-arrow">&nbsp;{% icon "cta-right-arrow", "", 14 %}</span></a>

    {{ backgroundImage(common.categoryPage.navigationSection.background) }}

  </div>
{% endmacro %}

{% macro backgroundImage(background) %}
  <div class="ws-navigation-section-background-image ws-XS ws-S ws-M">
    {% imagesync background.square, "" %}
  </div>
  <div class="ws-navigation-section-background-image ws-L ws-XL">
    {% imagesync background.wide, "" %}
  </div>
{% endmacro %}
