{% macro render(common, workspaceId, workspaces) %}
  <div class="ws-navigation-section">

    <h2>{{ common.categoryPage.navigationSection.heading }}</h2>

    <div class="ws-navigation-section-text">{{ common.categoryPage.navigationSection.text }}</div>

    <a class="ws-cta ws-white-cta" href="/workspaces/explore.html"><span>{{ common.categoryPage.navigationSection.cta }}</span><span class="ws-cta-right-arrow">&nbsp;{% icon "cta-right-arrow", "", 14 %}</span></a>

    {{ backgroundImage(common.categoryPage.navigationSection.background, common.sizeClasses) }}

  </div>
{% endmacro %}

{% macro backgroundImage(src, sizeClasses) %}
  {% for size, prefix in sizeClasses %}
    <div class="ws-navigation-section-background-image {{ size }}">
{#      {% imagesync prefix+src, "" %}#}
    </div>
  {% endfor %}
{% endmacro %}
