{% macro render(common, workspaceId, workspaces) %}

  <div class="swiper awaits-styling">
    <div class="swiper-wrapper">
      {%- for room in workspaces[workspaceId].rooms %}

        <div class="ws-room-slide swiper-slide">
          <a href="#/{{ room.slug }}">{{ room.name }}</a>
        </div>
      {%- endfor %}
    </div>
  </div>

{% endmacro %}
