<!DOCTYPE html>
<main>
  <link rel="stylesheet" href="{% webpack 'main.css' %}">

  {# This is the root element for the "immersive experience" #}
  <div class="ws-immersive-root awaits-styling">

    <div class="ws-common-ui">
      <a href="#">{% icon "site-logo" %}</a>

      <div class="ws-workspace-nav awaits-styling">
        <ul>
          {%- for workspace in workspaces %}
            <li><a href="#{{ workspace.route }}">{{ workspace.name }}</a></li>
          {%- endfor %}
        </ul>
      </div>

      <button class="ws-about-cta awaits-styling">{{ common.aboutWorkspaceCtaText }}</button>
    </div>

    <div class="ws-initial-view">
      <div class="ws-initial-rotating-background-image">To be replaced with a rotating background image</div>

      <div class="ws-initial-text">{{ common.initialViewText }}</div>

      <button class="ws-initial-cta">{{ common.initialViewCtaText }}</button>
    </div>

    <div class="ws-room-view">
      <div class="ws-room-background-image awaits-styling">To be replaced with the background image for the current room.  And hotspots.</div>

      <div class="ws-more-rooms-text">
        <button class="ws-show-more-rooms">{{ common.moreRoomsCtaText }}</button>
      </div>

      <div class="ws-workspaces-rooms awaits-styling">
        <span class="ws-select-room-text awaits-styling">{{ common.selectRoomText }}</span>

        {# The main content template should iterate over room data to render them all here. #}
        {{ content | safe }}
      </div>
    </div>

  </div>

</main>
<script async defer src="{% webpack 'main.js' %}"></script>
