<!DOCTYPE html>
<main>
  <link rel="stylesheet" href="{% webpack 'main.css' %}">

  <div class="ws-root awaits-styling">

    <div class="ws-background-image awaits-styling">To be replaced with the background image for the current room.  And hotspots.</div>

    <a href="#">{% icon "site-logo" %}</a>

    <div class="ws-workspace-nav awaits-styling">
      <ul>
        {%- for workspace in workspaces %}
          <li><a href="#{{ workspace.route }}">{{ workspace.name }}</a></li>
        {%- endfor %}
      </ul>
    </div>

    <button class="ws-about-cta awaits-styling">{{ common.aboutWorkspaceText }}</button>

    <div class="ws-workspaces-rooms awaits-styling">
      <span class="ws-select-room-text awaits-styling">{{ common.selectRoomText }}</span>

      {# The main content template should iterate over room data to render them all here. #}
      {{ content | safe }}
    </div>

  </div>

</main>
<script async defer src="{% webpack 'main.js' %}"></script>
