{% macro render(common, workspaces) %}
  <div class="ws-common-ui">
    <a href="#">{% icon "site-logo" %}</a>

    <div class="ws-workspace-nav">
      <ul>
        {%- for workspaceId in common.orderedWorkspaceIds %}
          <li><a href="#/{{ workspaceId }}">{{ workspaces[workspaceId].name }}</a></li>
        {%- endfor %}
      </ul>
      <div id="ws-nav-underline" class="ws-displayNone"></div>
    </div>

    <a class="ws-about-cta"><span class="ws-XS">i</span><span class="ws-S ws-M ws-L ws-XL">{{ common.aboutWorkspaceCtaText }}</span></a>
  </div>
{% endmacro %}
