{% macro render(common, workspaces) %}
  <div class="ws-common-ui">
    <a href="#">{% icon "site-logo" %}</a>

    <div class="ws-workspace-nav">
      <ul>
        {%- for workspace in workspaces %}
          <li><a href="#/{{ workspace.slug }}">{{ workspace.name }}</a></li>
        {%- endfor %}
      </ul>
      <div id="ws-nav-underline" class="ws-displayNone"></div>
    </div>

    <button class="ws-about-cta"><span class="ws-XS">i</span><span class="ws-S ws-M ws-L ws-XL">{{ common.aboutWorkspaceCtaText }}</span></button>
  </div>
{% endmacro %}
