{% macro render(common, workspaces) %}
  <div class="ws-initial-view">
    <div class="ws-initial-rotating-background-image">
      {%- for workspaceId in common.orderedWorkspaceIds %}
        {% if loop.index == 1 %}
            {{initialViewBGFPO(workspaces[workspaceId].background)}}
        {% endif %}
        {{initialViewBG(workspaces[workspaceId].background, loop.index)}}
       {% endfor %}
    </div>
    <div class="ws-initial-content">
      <div class="ws-initial-text">{{ common.initialViewText }}</div>
      <a class="ws-initial-cta" href="#/homeSpace">{{ common.initialViewCtaText }}</a>
    </div>
  </div>
{% endmacro %}

{% macro initialViewBGFPO(src) %}
    <div class="ws-rotating-background-image ws-rotating-background-image-fpo">
      {% imagesync "room-backgrounds/"+src, "" %}
    </div>
{% endmacro %}

{% macro initialViewBG(src, index) %}
    <div class="ws-rotating-background-image ws-rotating-background-image-{{ index }}">
      {% imagesync "room-backgrounds/"+src, "" %}
    </div>
{% endmacro %}
