{% macro render(common, workspaces) %}
  <div class="ws-initial-view">
    <div class="ws-initial-rotating-background-image">
      {%- for workspaceId in common.orderedWorkspaceIds %}
        {% if loop.index === 1 %}
            {{initialViewBGFPO(workspaces[workspaceId].background)}}
            <span>
        {% endif %}
        {{initialViewBG(workspaces[workspaceId].background, loop.index)}}
       {% endfor %}
        </span>
    </div>
    <div class="ws-initial-content">
      {% set initialText = common.initialViewText.join('<br/>') %}
      <div class="ws-initial-text">{{ initialText | safe }}</div>
      <a class="ws-initial-cta ws-cta ws-white-cta ws-on-dark-background" href="#/home">{{ common.initialViewCtaText }}</a>
    </div>
  </div>
{% endmacro %}

{% macro initialViewBGFPO(src) %}
    <div class="ws-rotating-background-image ws-rotating-background-image-fpo">
      {% imagesync "room-backgrounds/"+src, "", "", "", true, "100vw" %}
    </div>
{% endmacro %}

{% macro initialViewBG(src, index) %}
    <div class="ws-rotating-background-image ws-rotating-background-image-{{ index }}">
      {% imagesync "room-backgrounds/"+src, "", "", "", true, "100vw" %}
    </div>
{% endmacro %}
