{% import "../device-modal/index.njk" as deviceModal %}
{% import "../room-info-modal/index.njk" as infoModal %}

{% macro roomSelections(workspace, room) %}
  <div class="ws-room-selections awaits-styling" id="{{ workspace.slug }}-{{ room.slug }}">
    <div class="ws-room-selection">
      <a href="#{{ workspace.slug }}-{{ room.slug }}">
        <div class="ws-room-image">To be replaced with an image</div>
        <div class="ws-room-label">{{ room.name }}</div>
      </a>
    </div>
  </div>
{% endmacro %}

{% macro render(common, workspaces, devicesByRoom, vendorDevicesByRoom, devices) %}
  <div class="ws-room-view">
    <div class="ws-room-background-image awaits-styling">To be replaced with the background image for the current room.  And hotspots.</div>

    <div class="ws-more-rooms-text awaits-styling">
      <button class="ws-show-more-rooms">{{ common.moreRoomsCtaText }}</button>
    </div>

    <div class="ws-workspaces-rooms awaits-styling">
      <span class="ws-select-room-text">{{ common.selectRoomText }}</span>

      {# This represents the room label and selection interface for each workspace. #}
      <div class="ws-workspaces awaits-styling">
        {%- for workspace in workspaces %}
          <div class="ws-workspace" id="{{ workspace.slug }}Container">
            {%- for room in workspace.rooms %}
              <div class="ws-room">
                <div class="ws-room-label">{{ room.name }}</div>

                {{ roomSelections(workspace, room) }}

                {{ deviceModal.render(common, workspace, room, devicesByRoom, devices) }}

                {{ infoModal.render(common, workspace, room, vendorDevicesByRoom, devices) }}
              </div>
            {%- endfor %}
          </div>
        {%- endfor %}
      </div>

    </div>
  </div>
{% endmacro %}
