{% macro render(common, workspaces) %}
  <div class="ws-room-view ws-displayNone">
    <div class="ws-room-background-image-container">
      {%- for workspaceId in common.orderedWorkspaceIds %}
        <div class="ws-room-background-image ws-default-room-bg {{ workspaceId }}-room-bg ws-displayNone">
            {{ roomViewBG(workspaces[workspaceId].background) }}
        </div>
        {%- for room in workspaces[workspaceId].rooms %}
            <div class="ws-room-background-image ws-room-bg {{ workspaceId }}-{{room.slug}}-room-bg ws-displayNone">
                {{ roomViewBG(room.background) }}
                {%- for hotSpot in room.hotSpots %}
                    {{ hotspot(workspaceId, room.slug, hotSpot.slug) }}
                {%- endfor %}
            </div>
        {%- endfor %}
      {%- endfor %}
    </div>
    <div class="ws-room-content">
      <div class="ws-more-rooms-text">
        <div class="ws-room-label-info-btn-container">
          {%- for workspaceId in common.orderedWorkspaceIds %}
              {%- for room in workspaces[workspaceId].rooms %}
              <div class="ws-room-label" id="{{workspaceId}}-{{room.slug}}-label">{{ room.name }}
                <a href="#/{{workspaceId}}/{{room.slug}}/info" class="ws-room-info-btn ws-cta ws-transparent-cta" id="{{workspaceId}}-{{room.slug}}-info-button">i</a>
              </div>
              {%- endfor %}
          {%- endfor %}
        </div>
        {%- for workspaceId in common.orderedWorkspaceIds %}
            <a href="#/{{workspaceId}}" class="ws-show-more-rooms-txt" id="ws-show-more-rooms-txt-{{workspaceId}}">{{ common.moreRoomsCtaText }}</a>
            <a href="#/{{workspaceId}}" class="ws-show-more-rooms-btn ws-white-cta ws-on-image-background" id="ws-show-more-rooms-btn-{{workspaceId}}"></a>
        {%- endfor %}
      </div>

      <div class="ws-workspaces-rooms">
        <span class="ws-select-room-text">{{ common.selectRoomText }}</span>

        <div class="ws-workspaces">
          {%- for workspaceId in common.orderedWorkspaceIds %}
            <div class="ws-workspace ws-displayNone" id="{{ workspaceId }}Container">
              {# This represents the room label and selection interface for each workspace. #}
              <div class="swiper">
                <div class="swiper-wrapper">
                  {%- for room in workspaces[workspaceId].rooms %}

                    <div class="ws-room-slide swiper-slide">
                      {{ roomSelections(workspaces[workspaceId], room, common) }}
                    </div>
                  {%- endfor %}
                </div>
              </div>
            </div>
          {%- endfor %}
        </div>

      </div>
    </div>
    <div id="ws-swiper-indicator-animation" class="ws-displayNone">
        <div class="ws-swiper-indicator-container"><div id="ws-swiper-indicator-left-arrow" class="ws-swiper-indicator-arrow"></div><div>Pan</div><div id="ws-swiper-indicator-right-arrow" class="ws-swiper-indicator-arrow"></div></div>
    </div>
  </div>
{% endmacro %}

{% macro roomViewBG(src) %}
    {% imagesync "room-backgrounds/" + src, "", "", "", true, "100vw" %}
{% endmacro %}

{% macro roomOptionBG(src) %}
  {% imagesync [283, 159], "room-backgrounds/"+src, "", "", "ws-room-option-image", true, "283px" %}
{% endmacro %}

{% macro hotspot(workspaceId, roomSlug, hotSpotSlug) %}
  <a class="ws-hotSpot" href="#/{{workspaceId}}/{{roomSlug}}/hardware/{{hotSpotSlug}}"><div class="ws-hotSpot-outer"></div><div class="ws-hotSpot-inner"></div></a>
{% endmacro %}

{% macro roomSelections(workspace, room, common) %}
  <div class="ws-room-selections" id="{{ workspace.slug }}-{{ room.slug }}-selections">
    <div class="ws-room-selection">
      <a href="#/{{ workspace.slug }}/{{ room.slug }}">
        <div class="ws-room-image">{{ roomOptionBG(room.background) }}</div>
        <div class="ws-room-label ws-room-selector-label">{{ room.name }}</div>
      </a>
    </div>
  </div>
{% endmacro %}
