---
layout: default
title: Hello world
htmlClass: html
bodyClass: body
---
<h1>Hello world 👋<br/>from “{{ site.name }}”</h1>
{% image "eleventy_logo.png", "The possum is Eleventy’s mascot" %}

<div>
  <ul>
    <li><a href="#">home</a></li>
    <li><a href="#frag1">frag1</a></li>
    <li><a href="#frag2">frag2</a></li>
  </ul>
</div>
