{% import "partials/immersive.njk" as immersive %}
<!DOCTYPE html>
<main>
    <link rel="stylesheet" href="{% webpack 'main.css' %}">

    {# This is the root element for the "immersive experience" #}
    <div class="ws-immersive-root awaits-styling">

      {{ immersive.commonUi(common, workspaces) }}

      {{ immersive.initialView(common) }}

      {{ immersive.roomView(common, workspaces, devicesByRoom, devices) }}

    </div>

</main>
    <script async defer src="{% webpack 'main.js' %}"></script>

