---
layout: workspaces/rooms-template.njk
---
<div class="ws-workspaces awaits-styling">
  {%- for workspace in workspaces %}
    <div class="ws-workspace awaits-styling" id="{{ workspace.slug }}Container">
      {%- for room in workspace.rooms %}
        <div class="ws-room awaits-styling" id="{{ workspace.slug }}-{{ room.slug }}">
          <div class="ws-room-selection awaits-styling">
            <a href="#{{ workspace.slug }}-{{ room.slug }}">
              <div class="ws-room-image">To be replaced with an image</div>
              <div class="ws-room-label awaits-styling">{{ room.name }}</div>
            </a>
          </div>
        </div>
      {%- endfor %}
    </div>
  {%- endfor %}
</div>
