.ws-immersive-root {
  .ws-initial-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;

    .ws-initial-rotating-background-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      overflow: hidden;
      z-index: 0;

      .ws-rotating-background-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        min-width: 100%;

        img {
          height: 100vh;
          min-width: 100%;
        }

        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

        &.ws-rotating-background-image-fpo {
          animation-name: fpoFadeOut;
          animation-duration: 4s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          z-index: 3;
        }

        &.ws-rotating-background-image-1 {
          animation-name: slidecycle;
          animation-delay: 0s;
          opacity: 0;
        }

        &.ws-rotating-background-image-2 {
          animation-name: slidecycle;
          animation-delay: 3s;
          opacity: 0;
        }

        &.ws-rotating-background-image-3 {
          animation-delay: 6s;
          animation-name: slidecycle;
          opacity: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 521px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@media only screen and (min-width: 1281px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@media only screen and (min-width: 1367px) {
  .ws-immersive-root {
    .ws-initial-view {
      .ws-initial-rotating-background-image {
        .ws-rotating-background-image {
        }
      }
    }
  }
}

@keyframes fpoFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.2);
    z-index: 0;
  }
}

//7s or 10s
@keyframes slidecycle {
  //fade in begins
  0% {
    opacity: 0;
    z-index: 2;
  }

  // at 1 sec fade in completes
  11% {
    opacity: 1;
  }

  // at 3s starts to fade out
  //30% {
  33% {
    opacity: 1;
    z-index: 1;
  }

  // at 4s completes fade out
  //40% {
  44% {
    opacity: 0;
    z-index: 1;
    transform: scale(1.2);
  }

  //from 4s to 9s it lays dormant
  //70% {
  100% {
    opacity: 0;
    z-index: 1;
    transform: scale(1);
  }

  /*
  //from 7s to 10s fade back in
  100% {
    opacity: 1;
    z-index: 2;
  }
  */
}

/*
@keyframes fadeout {
  from {
    opacity: 1;
    z-index: 2;
  }

  to {
    opacity: 0;
    z-index: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    z-index: 1;
  }

  to {
    opacity: 1;
    z-index: 2;
  }
}
*/
