$bg-body: grey;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: $bg-body;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}

.icon.icon--site-logo {
  width: 215.88px;
  height: 26.46px;
}

// This is intended as a marker class to be removed from elements as we work on them.
.awaits-styling {
  border: 1px dotted red;
}

@import 'global';
@import 'initial-landing';
